{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-sm-8 blog-main">
				{% for post in posts %}
					<div class="blog-post">
						<h2>
							<a href="{{ path('post_show', {'id': post.id }) }}">{{ post.title }}</a>
						</h2>
						<p class="blog-post-meta">{{ post.createdAt|date('H:i d/m/Y') }}</p>
						<p>{{post.lead}}</p>
					</div>
				{% endfor %}
			</div>
			<div class="col-sm-3 offset-sm-1 blog-sidebar">
				<div class="sidebar-module sidebar-module-inset">
					<h4>About</h4>
					<p>Etiam porta
						<em>sem malesuada magna</em>
						mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
				</div>

				<div class="sidebar-module">
					<h4>Elsewhere</h4>
					<ol class="list-unstyled">
						<li>
							<a href="#">GitHub</a>
						</li>
						<li>
							<a href="#">Twitter</a>
						</li>
						<li>
							<a href="#">Facebook</a>
						</li>
					</ol>
				</div>
			</div>
		</div>

		<div class="navigation">
			{{knp_pagination_render(posts)}}
		</div>
	</div>
	<footer class="blog-footer">
		<p class="text-center text-center">Copyright © Marcin Jarosz 2018</p>
	</footer>
{% endblock %}
